@using Autofocus.Utility;
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="txtURLpath" value="@SD.APIBaseUrl" />
<div class="side-app">

    <div class="row">

        <div class="col-md-12 col-lg-12">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card">

                <div class="card-header">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState" class="col-form-label">Category</label>
                            <select class="form-control" id="mainCategroyId" asp-items="ViewBag.AllMainCategory">
                                @*// onchange="DoPostBack();"*@
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState" class="col-form-label">Sub-Category</label>
                            <select name="subCategroyId" id="subCategroyId" class="form-control">
                                @*asp-items="@(new SelectList(String.Empty,"id","StateName"))">*@
                                <option>Select</option>
                            </select>
                        </div>


                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblData" width="100%" class="hover table-bordered border-top-0 border-bottom-0">


                            <thead>
                                <tr>
                                    <th>Trade ID</th>
                                    <th>Variety</th>
                                    <th>Spot Rate</th>
                                    <th>Packing bag</th>
                                    <th>Packing size </th>
                                    <th>Location</th>
                                    <th>Rate Valid Till </th>
                                    <th>  </th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/UserProduct.js"></script>

}