
@model Autofocus.Models.ViewModels.MainCategoryCreateViewModel;
@{
    ViewData["Title"] = "Add New Main Category";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- file Uploads -->
@*<link href="~/Bizdire/LTR/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Bizdire/LTR/assets/plugins/fileuploads/css/dropify.css" rel="stylesheet" />*@

<div class="side-app">

    <!-- end row -->
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label class="form-label" asp-for="name">Name</label>
                                <input type="text" class="form-control" asp-for="name" id="name1" placeholder="Enter Name">
                                <span asp-validation-for="name" class="text-danger"></span>


                            </div>
                            <div class="form-group col-md-6">

                                <label class="form-label" asp-for="img">Image</label>
                                <input asp-for="img" type="file" class="dropify" data-height="50" value="Upload" />
                                <span asp-validation-for="img" class="text-danger"></span>
                                @*<div class="btn btn-primary btn-icon-text">
                <i class="fas fa-cloud-upload-alt"></i>
               <input asp-for="img" type="file" onchange="loadFile(event,'img1')" value="Upload" />

            </div>*@


                            </div>
                            
                            @*<div class="form-group  col-md-2">

                                <img id="img1" style="display:none;" class="imgclass" />
                            </div>*@


                        </div>



                        <button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-save" style="margin-right:0.7em"></i>Save</button>
                        <a asp-action="index" class="btn btn-rounded btn-info float-right"><i class="fa fa-backward" style="margin-right:0.7em"></i>Back</a>

                    </form>
                </div>
            </div>

            @*<div class="card">
                    <div class="card-header">
                        <h3 class="card-title">File Uploads</h3>
                    </div>
                    <div class=" card-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <input type="file" class="dropify" data-height="90" />
                            </div>

                        </div>


                    </div>
                </div>*@
        </div>
    </div>





</div>
<!-- file uploads js -->
@*<script src="~/Bizdire/LTR/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/Bizdire/LTR/assets/js/formelements.js"></script>

    <script src="~/Bizdire/LTR/assets/plugins/fileuploads/js/dropify.js"></script>*@

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

