@model Autofocus.Models.ViewModels.sliderCreateViewModel;

@{
    ViewData["Title"] = "Edit Image";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="side-app">

    <!-- end row -->
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">

                            <input type="hidden" asp-for="id" />
                            @*<div class="form-group col-md-6">
                                <label asp-for="name">  </label>
                                <div class="btn btn-primary btn-icon-text">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <input asp-for="name" type="file" onchange="loadFile(event,'name1')" value="Upload" />
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>
                                <span asp-validation-for="name" class="text-danger"></span>

                            </div>*@
                        <div class="form-group col-md-6">


                            <label class="form-label" asp-for="name">Image</label>


                            <input asp-for="name" type="file" class="dropify" data-="@Model.imgname" data-default-file="@Model.imgname" data-height="50" value="Upload" />
                            <span asp-validation-for="name" class="text-danger"></span>
                            @*<img src="@Model.imgname" id="name1" style="width:150px;height:100px;" />*@
                        </div>




                        </div>



                        <button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-save" style="margin-right:0.7em"></i>Update</button>
                        <a asp-action="index" class="btn btn-rounded btn-info float-right"><i class="fa fa-backward" style="margin-right:0.7em"></i>Back</a>

                    </form>
                </div>
            </div>
        </div>
    </div>





</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


